@{
    ViewData["Title"] = "Home Page";
}



<div>
    <div>
        <h3>Top Rated</h3>
    </div>
    <div>
        <h3>New on Service</h3>
    </div>
    <div>
        <h3>The Most Discussed</h3>
    </div>
    <div>
        <h3>All movies</h3>
    </div>
</div>
